[submodule "vendor/github.com/microsoft/vcpkg"]
	path = vendor/github.com/microsoft/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "vendor/github.com/moltenVK"]
	path = vendor/github.com/moltenVK
	url = https://github.com/KhronosGroup/MoltenVK.git
[submodule "vendor/github.com/ufbx/ufbx"]
	path = vendor/github.com/ufbx/ufbx
	url = https://github.com/ufbx/ufbx.git
[submodule "vendor/github.com/carbonengine/vcpkg-registry"]
	path = vendor/github.com/carbonengine/vcpkg-registry
	url = https://github.com/carbonengine/vcpkg-registry
[submodule "vendor/github.com/FortAwesome/Font-Awesome"]
	path = vendor/github.com/FortAwesome/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
